{% extends "::base.html.twig" %}

{% block title %}AppBundle:Exam:edit{% endblock %}

{% block body %}
<h1>Welcome to the Exam:edit page</h1>

{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

<a href="{{ path('exam_index') }}">Back to the list</a>

{% endblock %}
