{% extends "::base.html.twig" %}

{% block title %}AppBundle:Student:edit{% endblock %}

{% block body %}
<h1>Welcome to the Student:edit page</h1>

{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

<a href="{{ path('student_index') }}">Back to the list</a>

{% endblock %}
