{% extends 'base.html.twig' %}

{% block body %}
<div><a href="{{ path('teacher_index') }}">Teachers management</a></div>
<div><a href="{{ path('student_index') }}">Students management</a></div>
<div><a href="{{ path('course_index') }}">Courses management</a></div>
<div><a href="{{ path('exam_index') }}">Exams management</a></div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
